# === IntelliJ IDEA  ===
.idea/
*.iws
*.iml
*.ipr

# === Maven ===
target/
backend/**/target/
frontend-vue/**/target/
.mvn/wrapper/maven-wrapper.jar

# === Node.js / Frontend ===
node_modules/
frontend-vue/node_modules/
dist/
frontend-vue/dist/
dist-ssr/
frontend-vue/dist-ssr/
build/
frontend-vue/build/
.env
.env.local
.env.*.local

# === Логи и кэш ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.vite/
.eslintcache

# === Общие IDE-файлы ===
.classpath
.project
.settings
.factorypath
.springBeans
.sts4-cache
.apt_generated

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === VS Code ===
.vscode/

# === macOS ===
.DS_Store
